In [1]:
!pip install pymysql
!pip install mysql.connector

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     -------------------------------------- 43.7/43.7 kB 360.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3
Requirement already satisfied: mysql.connector in c:\users\enrique\appdata\local\programs\python\python310\lib\site-packages (2.2.9)

#Librerías y descripción datos

In [3]:
import pandas as pd
import mysql.connector as SQLC

In [5]:
datos = pd.read_csv(r'Prosumer_ABC.csv', header = 0, sep = ";")
datos.head(5)

,ID,Consumo (0) / Producción (1),Dia,Mes,Año,1,2,3,4,5,...,87,88,89,90,91,92,93,94,95,96
0,ABC,0,2,11,2013,58.00,75.0,65.0,0.08,67.0,...,338.0,369.0,318.00,322.0,345.0,298.00,316.00,299.0,341.00,304.0
1,ABC,0,3,11,2013,0.16,0.1,68.0,69.00,75.0,...,67.0,74.0,61.00,84.0,74.0,67.00,77.00,91.0,0.07,61.0
2,ABC,0,4,11,2013,0.08,66.0,77.0,64.00,84.0,...,114.0,106.0,128.00,511.0,74.0,84.00,59.00,69.0,69.00,71.0
3,ABC,0,5,11,2013,68.00,58.0,95.0,81.00,74.0,...,167.0,202.0,0.53,226.0,256.0,315.00,421.00,66.0,0.09,64.0
4,ABC,0,6,11,2013,77.00,61.0,97.0,65.00,78.0,...,117.0,345.0,351.00,69.0,57.0,0.07,0.07,72.0,56.00,78.0

In [7]:
datos.columns = ['letras','tipo','Day','Month','Year','r1','r2','r3','r4','r5','r6','r7','r8','r9','r10','r11','r12','r13','r14','r15','r16','r17','r18','r19','r20','r21','r22','r23','r24','r25','r26','r27','r28','r29','r30','r31','r32','r33','r34','r35','r36','r37','r38','r39','r40','r41','r42','r43','r44','r45','r46','r47','r48','r49','r50','r51','r52','r53','r54','r55','r56','r57','r58','r59','r60','r61','r62','r63','r64','r65','r66','r67','r68','r69','r70','r71','r72','r73','r74','r75','r76','r77','r78','r79','r80','r81','r82','r83','r84','r85','r86','r87','r88','r89','r90','r91','r92','r93','r94','r95','r96']
datos.dtypes

letras     object
tipo        int64
Day         int64
Month       int64
Year        int64
           ...
r92       float64
r93       float64
r94       float64
r95       float64
r96       float64
Length: 101, dtype: object

### Conexión base de datos

Creación de base de datos

In [9]:
DataBase = SQLC.connect(
  host ="databaseiot.cbzpcvsds3vs.us-east-1.rds.amazonaws.com",
  user ="admin",
  password ="Topos2023"
)
Cursor = DataBase.cursor()
 
#Cursor.execute("CREATE DATABASE TEST1")
print("TEST1 base is created")

TEST1 base is created

In [10]:
# Se conecta  a la base de datos a través del endpoint
DataBase = SQLC.connect(
host ="databaseiot.cbzpcvsds3vs.us-east-1.rds.amazonaws.com",
user ="admin",
password ="Topos2023",
database ="TEST1"
)
 
# Cursor a la database
Cursor = DataBase.cursor()

Creación de tabla

In [11]:
letras = []
for i in range(0,96):
  letras.append("r%d VARCHAR(100)"% (i+1))
letras = ",".join([str(item) for item in letras])
letras

'r1 VARCHAR(100),r2 VARCHAR(100),r3 VARCHAR(100),r4 VARCHAR(100),r5 VARCHAR(100),r6 VARCHAR(100),r7 VARCHAR(100),r8 VARCHAR(100),r9 VARCHAR(100),r10 VARCHAR(100),r11 VARCHAR(100),r12 VARCHAR(100),r13 VARCHAR(100),r14 VARCHAR(100),r15 VARCHAR(100),r16 VARCHAR(100),r17 VARCHAR(100),r18 VARCHAR(100),r19 VARCHAR(100),r20 VARCHAR(100),r21 VARCHAR(100),r22 VARCHAR(100),r23 VARCHAR(100),r24 VARCHAR(100),r25 VARCHAR(100),r26 VARCHAR(100),r27 VARCHAR(100),r28 VARCHAR(100),r29 VARCHAR(100),r30 VARCHAR(100),r31 VARCHAR(100),r32 VARCHAR(100),r33 VARCHAR(100),r34 VARCHAR(100),r35 VARCHAR(100),r36 VARCHAR(100),r37 VARCHAR(100),r38 VARCHAR(100),r39 VARCHAR(100),r40 VARCHAR(100),r41 VARCHAR(100),r42 VARCHAR(100),r43 VARCHAR(100),r44 VARCHAR(100),r45 VARCHAR(100),r46 VARCHAR(100),r47 VARCHAR(100),r48 VARCHAR(100),r49 VARCHAR(100),r50 VARCHAR(100),r51 VARCHAR(100),r52 VARCHAR(100),r53 VARCHAR(100),r54 VARCHAR(100),r55 VARCHAR(100),r56 VARCHAR(100),r57 VARCHAR(100),r58 VARCHAR(100),r59 VARCHAR(100),r60 VARCHAR(100),r61 VARCHAR(100),r62 VARCHAR(100),r63 VARCHAR(100),r64 VARCHAR(100),r65 VARCHAR(100),r66 VARCHAR(100),r67 VARCHAR(100),r68 VARCHAR(100),r69 VARCHAR(100),r70 VARCHAR(100),r71 VARCHAR(100),r72 VARCHAR(100),r73 VARCHAR(100),r74 VARCHAR(100),r75 VARCHAR(100),r76 VARCHAR(100),r77 VARCHAR(100),r78 VARCHAR(100),r79 VARCHAR(100),r80 VARCHAR(100),r81 VARCHAR(100),r82 VARCHAR(100),r83 VARCHAR(100),r84 VARCHAR(100),r85 VARCHAR(100),r86 VARCHAR(100),r87 VARCHAR(100),r88 VARCHAR(100),r89 VARCHAR(100),r90 VARCHAR(100),r91 VARCHAR(100),r92 VARCHAR(100),r93 VARCHAR(100),r94 VARCHAR(100),r95 VARCHAR(100),r96 VARCHAR(100)'

In [12]:
Cursor.execute('DROP TABLE IF EXISTS db1;')
TableName ="CREATE TABLE db1(letras VARCHAR(100), tipo VARCHAR(100), Day VARCHAR(100),Month VARCHAR(100),Year VARCHAR(100),{} )".format(letras)
Cursor.execute(TableName)
print("db1 is correctly created")

db1 is correctly created

In [13]:
#Muestra resutados para ver que tan bien está la tabla
Cursor.execute("desc db1")
resultado = Cursor.fetchall()
for i in resultado:
  print(i)

('letras', b'varchar(100)', 'YES', bytearray(b''), None, '')
('tipo', b'varchar(100)', 'YES', bytearray(b''), None, '')
('Day', b'varchar(100)', 'YES', bytearray(b''), None, '')
('Month', b'varchar(100)', 'YES', bytearray(b''), None, '')
('Year', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r1', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r2', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r3', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r4', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r5', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r6', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r7', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r8', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r9', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r10', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r11', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r12', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r13', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r14', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r15', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r16', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r17', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r18', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r19', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r20', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r21', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r22', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r23', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r24', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r25', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r26', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r27', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r28', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r29', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r30', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r31', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r32', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r33', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r34', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r35', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r36', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r37', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r38', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r39', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r40', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r41', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r42', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r43', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r44', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r45', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r46', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r47', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r48', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r49', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r50', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r51', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r52', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r53', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r54', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r55', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r56', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r57', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r58', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r59', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r60', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r61', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r62', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r63', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r64', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r65', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r66', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r67', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r68', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r69', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r70', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r71', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r72', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r73', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r74', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r75', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r76', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r77', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r78', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r79', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r80', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r81', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r82', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r83', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r84', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r85', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r86', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r87', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r88', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r89', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r90', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r91', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r92', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r93', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r94', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r95', b'varchar(100)', 'YES', bytearray(b''), None, '')
('r96', b'varchar(100)', 'YES', bytearray(b''), None, '')

Ingresar los datos de .csv a Rds

In [ ]:
for i,row in datos.iterrows():
            #here %S means string values 
            sql = "INSERT INTO TEST1.db1 VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            Cursor.execute(sql, tuple(row))
            
DataBase.commit()

### Querys

In [14]:
query = "select * from TEST1.db1 LIMIT 5"
Cursor.execute(query)
res =Cursor.fetchall()

In [41]:
for row in res:
        for col in row:
            print(col,end=' ')
        print()

ABC 0 2 11 2013 58.0 75.0 65.0 0.08 67.0 69.0 0.07 73.0 68.0 0.06 77.0 69.0 91.0 64.0 74.0 74.0 74.0 67.0 61.0 89.0 58.0 75.0 57.0 108.0 85.0 89.0 183.0 272.0 311.0 0.37 498.0 274.0 276.0 0.23 187.0 136.0 79.0 42.0 91.0 148.0 819.0 798.0 802.0 738.0 508.0 253.0 84.0 68.0 65.0 611.0 162.0 167.0 183.0 0.73 711.0 695.0 601.0 439.0 211.0 93.0 162.0 0.4 518.0 484.0 0.58 795.0 494.0 616.0 672.0 611.0 345.0 415.0 675.0 612.0 353.0 445.0 409.0 0.36 356.0 332.0 344.0 321.0 328.0 407.0 482.0 0.46 338.0 369.0 318.0 322.0 345.0 298.0 316.0 299.0 341.0 304.0
ABC 0 2 11 2013 58.0 75.0 65.0 0.08 67.0 69.0 0.07 73.0 68.0 0.06 77.0 69.0 91.0 64.0 74.0 74.0 74.0 67.0 61.0 89.0 58.0 75.0 57.0 108.0 85.0 89.0 183.0 272.0 311.0 0.37 498.0 274.0 276.0 0.23 187.0 136.0 79.0 42.0 91.0 148.0 819.0 798.0 802.0 738.0 508.0 253.0 84.0 68.0 65.0 611.0 162.0 167.0 183.0 0.73 711.0 695.0 601.0 439.0 211.0 93.0 162.0 0.4 518.0 484.0 0.58 795.0 494.0 616.0 672.0 611.0 345.0 415.0 675.0 612.0 353.0 445.0 409.0 0.36 356.0 332.0 344.0 321.0 328.0 407.0 482.0 0.46 338.0 369.0 318.0 322.0 345.0 298.0 316.0 299.0 341.0 304.0
ABC 0 2 11 2013 58.0 75.0 65.0 0.08 67.0 69.0 0.07 73.0 68.0 0.06 77.0 69.0 91.0 64.0 74.0 74.0 74.0 67.0 61.0 89.0 58.0 75.0 57.0 108.0 85.0 89.0 183.0 272.0 311.0 0.37 498.0 274.0 276.0 0.23 187.0 136.0 79.0 42.0 91.0 148.0 819.0 798.0 802.0 738.0 508.0 253.0 84.0 68.0 65.0 611.0 162.0 167.0 183.0 0.73 711.0 695.0 601.0 439.0 211.0 93.0 162.0 0.4 518.0 484.0 0.58 795.0 494.0 616.0 672.0 611.0 345.0 415.0 675.0 612.0 353.0 445.0 409.0 0.36 356.0 332.0 344.0 321.0 328.0 407.0 482.0 0.46 338.0 369.0 318.0 322.0 345.0 298.0 316.0 299.0 341.0 304.0
ABC 0 2 11 2013 58.0 75.0 65.0 0.08 67.0 69.0 0.07 73.0 68.0 0.06 77.0 69.0 91.0 64.0 74.0 74.0 74.0 67.0 61.0 89.0 58.0 75.0 57.0 108.0 85.0 89.0 183.0 272.0 311.0 0.37 498.0 274.0 276.0 0.23 187.0 136.0 79.0 42.0 91.0 148.0 819.0 798.0 802.0 738.0 508.0 253.0 84.0 68.0 65.0 611.0 162.0 167.0 183.0 0.73 711.0 695.0 601.0 439.0 211.0 93.0 162.0 0.4 518.0 484.0 0.58 795.0 494.0 616.0 672.0 611.0 345.0 415.0 675.0 612.0 353.0 445.0 409.0 0.36 356.0 332.0 344.0 321.0 328.0 407.0 482.0 0.46 338.0 369.0 318.0 322.0 345.0 298.0 316.0 299.0 341.0 304.0
ABC 0 2 11 2013 58.0 75.0 65.0 0.08 67.0 69.0 0.07 73.0 68.0 0.06 77.0 69.0 91.0 64.0 74.0 74.0 74.0 67.0 61.0 89.0 58.0 75.0 57.0 108.0 85.0 89.0 183.0 272.0 311.0 0.37 498.0 274.0 276.0 0.23 187.0 136.0 79.0 42.0 91.0 148.0 819.0 798.0 802.0 738.0 508.0 253.0 84.0 68.0 65.0 611.0 162.0 167.0 183.0 0.73 711.0 695.0 601.0 439.0 211.0 93.0 162.0 0.4 518.0 484.0 0.58 795.0 494.0 616.0 672.0 611.0 345.0 415.0 675.0 612.0 353.0 445.0 409.0 0.36 356.0 332.0 344.0 321.0 328.0 407.0 482.0 0.46 338.0 369.0 318.0 322.0 345.0 298.0 316.0 299.0 341.0 304.0